* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  text-size-adjust: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #999;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #dba111;
}

h1,
h2,
h3 {
  letter-spacing: 0.05rem;
  color: #2e282a;
}

p {
  text-align: justify;
}

.navbar {
  width: 100%;
  height: 8%;
  z-index: 10;
  position: fixed;
  background-color: #222;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding-right: 2.5rem;
}

li a {
  display: block;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

#x {
  cursor: pointer;
  font-size: 1.5rem;
  visibility: hidden;
}

.landing-page {
  width: 100%;
  height: 40%;
  padding: 5% 2.5% 2.5% 2.5%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-page {
  width: 100%;
  min-height: 100vh;
  padding: 5%;
}

.main-page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.proizvodi {
  width: 100%;
  height: auto;
  padding: 2.5% 2.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 50px;
  column-gap: 50px;
  align-items: stretch;
}

input,
textarea {
  margin: auto;
  display: block;
  width: 50%;
  min-height: 50px;
  margin-bottom: 2.5%;
  border-bottom: 2px solid #222;
  border-top: none;
  border-right: none;
  border-left: none;
  text-indent: 15px;
}

input,
textarea :hover {
  outline: none;
}

.register-button,
.login-button,
.add-product-button {
  background-color: #222;
  color: #fff;
}

textarea {
  min-height: 200px;
}

.footer {
  width: 100%;
  min-height: 2.5%;
  bottom: 0px;
  color: #e2e2e2;
  background-color: #222;
  padding: 1%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: center;
  padding: 1%;
}

tr:nth-child(even) {
  background-color: #e5e5e5;
}
